<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://140.143.134.146:3306/antexpress</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="team/malaxiangguo/antexpress/pojo/Department.hbm.xml"/>
        <mapping class="team.malaxiangguo.antexpress.pojo.Department"/>
        <mapping resource="team/malaxiangguo/antexpress/pojo/Employee.hbm.xml"/>
        <mapping class="team.malaxiangguo.antexpress.pojo.Employee"/>
        <mapping resource="team/malaxiangguo/antexpress/pojo/ExpressDeliveryBill.hbm.xml"/>
        <mapping class="team.malaxiangguo.antexpress.pojo.ExpressDeliveryBill"/>
        <mapping resource="team/malaxiangguo/antexpress/pojo/IdentifyingCode.hbm.xml"/>
        <mapping class="team.malaxiangguo.antexpress.pojo.IdentifyingCode"/>
        <mapping resource="team/malaxiangguo/antexpress/pojo/Occupation.hbm.xml"/>
        <mapping class="team.malaxiangguo.antexpress.pojo.Occupation"/>
        <mapping resource="team/malaxiangguo/antexpress/pojo/OccupationPermissionMapping.hbm.xml"/>
        <mapping class="team.malaxiangguo.antexpress.pojo.OccupationPermissionMapping"/>
        <mapping resource="team/malaxiangguo/antexpress/pojo/Outlet.hbm.xml"/>
        <mapping class="team.malaxiangguo.antexpress.pojo.Outlet"/>
        <mapping resource="team/malaxiangguo/antexpress/pojo/Permission.hbm.xml"/>
        <mapping class="team.malaxiangguo.antexpress.pojo.Permission"/>
        <mapping resource="team/malaxiangguo/antexpress/pojo/SenderReceiver.hbm.xml"/>
        <mapping class="team.malaxiangguo.antexpress.pojo.SenderReceiver"/>
        <mapping resource="team/malaxiangguo/antexpress/pojo/WorkingSheet.hbm.xml"/>
        <mapping class="team.malaxiangguo.antexpress.pojo.WorkingSheet"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>